body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.subtotal {
  margin: 33px 0 0;
  float: none;
  width: 100%;
  font-size: 12px;
  font-family: "Gotham 5r", Helvetica, Arial, sans-serif;
  color: #cf7e21;
  text-align: center;
}

.sub-total {
  font-size: 12px;
  float: right;
}
